html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #25252588;
}

.main-container {
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.filter-bubble {
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
